[submodule "Utils\\GLFW"]
	path = Utils\\GLFW
	url = https://github.com/Sam-1210/glfw
	branch = master
[submodule "Utils\\IMGUI"]
	path = Utils\\IMGUI
	url = https://github.com/Sam-1210/imgui
	branch = docking
[submodule "Utils\\GLM"]
	path = Utils\\GLM
	url = https://github.com/Sam-1210/glm
	branch = master
[submodule "Utils\\spdlog"]
	path = Utils\\spdlog
	url = https://github.com/Sam-1210/spdlog
	branch = v1.x
